<% provide(:about_active, "active") %>
<div>
<h4> Daniel Velez</h4>
<p>Dev Bootcamp
Student</p>

<p>Studied at UMass Boston,
Class of 2010</p>

<p>Lives in Boston, Massachusetts
From Cali, Colombia</p>
</div>